


/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

body { background: #0f0f0f; }

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
   position: relative;
   height: 800px;
   min-height: 500px;
   width: 100%;
   background: #161415 url(../images/chris.png) no-repeat top center;
   background-size: cover !important;
	-webkit-background-size: cover !important;
   text-align: left;
   overflow: hidden;
}

/* vertically center banner section */
header:before {
   content: '';
   display: inline-block;
   vertical-align: middle;
   height: 100%;
}
header .banner {
   display: inline-block;
   vertical-align: middle;
   margin: 0 auto;
   width: 85%;
   padding-bottom: 30px;
   text-align: center;
   /* animation: transitionIn 0.60s; */
}
/* @keyframes transitionIn {
   from {opacity: 0; transform: translateY(10em);}
   to {opacity: 1; transform: translateY(0); }
 } */

header .banner-text { width: 100%; }
header .banner-text h2 {
   font: 5em 'opensans-bold', sans-serif;
   color: #fff;
   letter-spacing: -2px;
   margin: 0 auto 18px auto;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
   padding: .2em;
}
header .banner-text h3 {
   font: 18px/1.9em 'librebaskerville-regular', serif;
   color: #ffffff;
   margin: 0 auto;
   width: 70%;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}

header .banner-text hr {
   width: 60%;
   margin: 18px auto 24px auto;
   border-color: #2F2D2E;
   border-color: rgba(150, 150, 150, .1);
}


header .social-links {
   margin: 18px 0 30px 0;
   padding: 0;
   font-size: 30px;
   color: white !important;
}
header .social-links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 42px;
   
}


/* scrolldown link */
header .scrolldown a {
   position: absolute;
   bottom: 30px;
   left: 50%;
   margin-left: -29px;
   color: #fff;
   display: block;
   height: 42px;
   width: 42px;
   font-size: 42px;
   line-height: 42px;
   color: #fff;
   border-radius: 100%;

   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}
header .scrolldown a:hover { color:  #e9da05; }

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	 margin: 0;
	 padding: 0;
	 border: none;
	 outline: none;
}

/* nav-wrap */
#nav-wrap {
   font: 12px 'opensans-bold', sans-serif;
   width: 100%;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   margin: 0 auto;
   z-index: 100;
   position: fixed;
   left: 0;
   top: 0;
}
.opaque { background-color: #333; }

/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
   min-height: 48px;
   width: auto;

   /* center align the menu */
   text-align: center;
}
ul#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
}

/* Links */
ul#nav li a {

/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

   display: inline-block;
   padding: 8px 13px;
   line-height: 32px;
	text-decoration: none;
   text-align: left;
   color: #fff;

	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color:  #e9da05; }


/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */

#about {
   background: #2B2B2B;
   padding-top: 89px;
   padding-bottom: 66px;
   overflow: hidden;
   text-align: center;
}

#about h2 {
   font: 3em 'opensans-bold', sans-serif;
   color: #fff;
   margin-bottom: 12px;
   text-align: center;
}
#about p {
   line-height: 30px;
   color: #7A7A7A;
   text-align: center;
}

.butt{
   position: absolute;
   left: 28.5em;
   background-color: #e9da05 ;
}


/* ------------------------------------------------------------------ */
/* d. Resume Section
/* ------------------------------------------------------------------ */

#resume {
   background: #fff;
   padding-top: 90px;
   padding-bottom: 72px;
   overflow: hidden;
}


#resume h1 {
   font: 3em 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
}
#resume h1 span {
   border-bottom: 3px solid  #000000;

   padding-bottom: 6px;

}



/*----------------------------------------------*/
/*	Skill Bars
/*----------------------------------------------*/

.bars {
	width: 95%;
	float: left;
	padding: 0;
	text-align: left;
}
.bars .skills {
  	margin-top: 36px;
   list-style: none;
}
.bars li {
   position: relative;
  	margin-bottom: 60px;
  	background: #ccc;
  	height: 42px;
  	border-radius: 3px;
}
.bars li em {
	font: 15px 'opensans-bold', sans-serif;
   color: #313131;
	text-transform: uppercase;
   letter-spacing: 2px;
	font-weight: normal;
   position: relative;
	top: -36px;
}
.bar-expand {
   position: absolute;
   left: 0;
   top: 0;

   margin: 0;
   padding-right: 24px;
  	background: #313131;
   display: inline-block;
  	height: 42px;
   line-height: 42px;
   border-radius: 3px 0 0 3px;
}

.reactjs {
   width: 50%;
   -moz-animation: reactjs 2s ease;
   -webkit-animation: reactjs 2s ease;
}
.javascript {
   width: 70%;
   -moz-animation: javascript 2s ease;
   -webkit-animation: javascript 2s ease;
}
.mysql {
   width: 76%;
   -moz-animation: mysql 2s ease;
   -webkit-animation: mysql 2s ease;
}
.css {
   width: 80%;
   -moz-animation: css 2s ease;
   -webkit-animation: css 2s ease;
}
.html {
   width: 85%;
   -moz-animation: html5 2s ease;
   -webkit-animation: html5 2s ease;
}

.mongodb {
   width: 70%;
   -moz-animation: mongodb 2s ease;
   -webkit-animation: mongodb 2s ease;
}

.nodejs {
   width: 70%;
   -moz-animation: nodejs 2s ease;
   -webkit-animation: nodejs 2s ease;
}



@-moz-keyframes reactjs {
0%   { width: 0px;  }
100% { width: 60%;  }
}
@-moz-keyframes javascript {
0%   { width: 0px;  }
100% { width: 75%;  }
}
@-moz-keyframes mysql {
0%   { width: 0px;  }
100% { width: 70%;  }
}
@-moz-keyframes css {
0%   { width: 0px;  }
100% { width: 90%;  }
}
@-moz-keyframes html5 {
0%   { width: 0px;  }
100% { width: 90%;  }
}
@-moz-keyframes jquery {
0%   { width: 0px;  }
100% { width: 65%;  }
}
@-moz-keyframes mongodb {
0%   { width: 0px;  }
100% { width: 70%;  }
}
@-moz-keyframes bootstrap {
0%   { width: 0px;  }
100% { width: 80%;  }
}
@-moz-keyframes nodejs {
0%   { width: 0px;  }
100% { width: 70%;  }
}
@-moz-keyframes express {
0%   { width: 0px;  }
100% { width: 70%;  }
}
@-moz-keyframes handelbarsjs {
0%   { width: 0px;  }
100% { width: 50%;  }
}

@-webkit-keyframes reactjs {
0%   { width: 0px;  }
100% { width: 60%;  }
}
@-webkit-keyframes javascript {
0%   { width: 0px;  }
100% { width: 75%;  }
}
@-webkit-keyframes mysql {
0%   { width: 0px;  }
100% { width: 70%;  }
}
@-webkit-keyframes css {
0%   { width: 0px;  }
100% { width: 90%;  }
}
@-webkit-keyframes html5 {
0%   { width: 0px;  }
100% { width: 90%;  }
}
@-webkit-keyframes jquery {
0%   { width: 0px;  }
100% { width: 65%;  }
}
@-webkit-keyframes mongodb {
0%   { width: 0px;  }
100% { width: 70%;  }
}
@-webkit-keyframes bootstrap {
0%   { width: 0px;  }
100% { width: 80%;  }
}
@-webkit-keyframes nodejs {
0%   { width: 0px;  }
100% { width: 70%;  }
}
@-webkit-keyframes express {
0%   { width: 0px;  }
100% { width: 70%;  }
}
@-webkit-keyframes handelbarsjs {
0%   { width: 0px;  }
100% { width: 50%;  }
}



/* ------------------------------------------------------------------ */
/* e. Portfolio Section
/* ------------------------------------------------------------------ */

#portfolio {
   align-self: center;
   background: #ebeeee;
   padding-top: 90px;
   padding-bottom: 60px;
  }
#portfolio h1 {
   font: 3em 'opensans-semibold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
   text-align: center;
   margin-bottom: 48px;
   color: #95A3A3;
}

#portfolio h2 {
   font: 2em 'opensans-semibold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
   text-align: center;
   margin-bottom: 48px;
   color: #95A3A3;
}


/* Portfolio Content */
#portfolio-wrapper .columns { margin-bottom: 36px; }
.portfolio-item .item-wrap {
   background: #fff;
   overflow: hidden;
   position: relative;
   text-align: center;
   left: 8em;
   height: 18em;
   animation: transitionIn 1.90s;
   -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

@keyframes transitionIn {
   from {opacity: 0; transform: translateY(5em);}
   to {opacity: 2; transform: translateY(0); }
}


.portfolio-item:hover {
   transform:scale(1.1);
 }
.portfolio-item .item-wrap a {
   display: block;
   cursor: pointer;
}

/* overlay */
.portfolio-item .item-wrap .overlay {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;

	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);

   -webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;

   background: url(../images/overlay-bg.png) repeat;
}
 

.portfolio-item .portfolio-item-meta { padding: 18px }
.portfolio-item .portfolio-item-meta h4 {
   font: 2.3em 'opensans-bold', sans-serif;
   color: white;
}
.portfolio-item .portfolio-item-meta p {
   font: 12px/18px 'opensans-light', sans-serif;
   color: white;
   margin-bottom: 0;
  
}

/* on hover */
.portfolio-item:hover .overlay {
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
}
.portfolio-item:hover .link-icon {
   opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
}

.popup-modal a:hover {	color: #e9da05; }
.popup-modal a.popup-modal-dismiss { margin-left: 24px; }


/* ------------------------------------------------------------------
/* g. Testimonials
/* ------------------------------------------------------------------ */

#inspiration {
   background: #1F1F1F url(../images/dust.jpg) no-repeat center center;
   background-size: cover !important;
	-webkit-background-size: cover !important;
   background-attachment: fixed;

   position: relative;
   min-height: 200px;
   width: 100%;
   overflow: hidden;
}
#inspiration .text-container {
   padding-top: 96px;
   padding-bottom: 66px;
}
#inspiration h1 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 3px;
   color: #fff;
}

/*	Blockquotes */
#inspiration blockquote {
   margin: 0 0px 30px 0px;
   padding-left: 0;
   position: relative;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
}
#inspiration blockquote:before { content: none; }
#inspiration blockquote p {
   font-family: 'librebaskerville-italic', serif;
   padding: 0;
   font-size: 3em;
   line-height: 48px;
   color: #fff;
   
}
#inspiration blockquote cite {
   display: block;
   font-size: 2em;
   font-style: normal;
   line-height: 18px;
   color: #fff;
}





/* ------------------------------------------------------------------ */
/* h. Contact Section
/* ------------------------------------------------------------------ */

#contact {
   background: #191919;
   padding-top: 96px;
   padding-bottom: 102px;
   color: #636363;
}

#contact h1 {
   font: 2.8em 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 3px;
   color: #EBEEEE;
   margin-bottom: 6px;
   position: relative;
   left: 6em;
}
#contact h1 span { display: none; }
#contact h1:before {
   font-family: 'FontAwesome';
   content: "\f0e0";
	padding-right: 10px;
	font-size: 72px;
   line-height: 72px;
   text-align: left;
   color: #ebeeee;
}

#contact h4 {
   font: 16px/24px 'opensans-bold', sans-serif;
   color: #EBEEEE;
   margin-bottom: 6px;
}
#contact p.lead {
   font: 18px/36px 'opensans-light', sans-serif;
   padding-right: 3%;
}
#contact .header-col { padding-top: 6px; }


/* contact form */
#contact form { margin-bottom: 30px; }
#contact label {
   font: 15px/24px 'opensans-bold', sans-serif;
   margin: 12px 0;
   color: #EBEEEE;
	display: inline-block;
	float: left;
   width: 26%;
}
#contact input,
#contact textarea,
#contact select {
   padding: 18px 20px;
	color: #eee;
	background: #373233;
	margin-bottom: 42px;
	border: 0;
	outline: none;
   font-size: 15px;
   line-height: 24px;
   width: 65%;
}
#contact input:focus,
#contact textarea:focus,
#contact select:focus {
	color: #fff;
	background-color:  #e9da05;
}
.but {
	text-transform: uppercase;
	letter-spacing: 3px;
	color:#fff;
   background: #e9da05;
	border: none;
   cursor: pointer;
   height: auto;
   display: inline-block;
	border-radius: 3px;
   margin-left: 26%;
}


.contactbox{
   position: relative;
   top: 4em;
   left: 10em;
}

/* ------------------------------------------------------------------ */
/* i. Footer
/* ------------------------------------------------------------------ */

footer {
   padding-top: 48px;
   margin-bottom: 48px;
   color: #303030;
   font-size: 14px;
   text-align: center;
   position: relative;
}

footer a, footer a:visited { color: #525252; }
footer a:hover, footer a:focus { color: #e9da05; }

/* copyright */
footer .copyright {
    margin: 0;
    padding: 0;
 }
footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.ie footer .copyright li {
   display: inline;
}
footer .copyright li:before {
    content: "\2022";
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}
footer .copyright  li:first-child:before {
    display: none;
}

/* social links */
footer .social-links {
   margin: 18px 0 30px 0;
   padding: 0;
   font-size: 30px;
}
footer .social-links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 42px;
    color:  #e9da05;
}

footer .social-links li:first-child { margin-left: 0; }

/* Go To Top Button */
#go-top {
	position: absolute;
	top: -24px;
   left: 50%;
   margin-left: -30px;
}
#go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	width: 60px;
	height: 60px;
	background-color: #525252;

	-webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;

   color: #fff;
   font-size: 21px;
   line-height: 60px;
 	border-radius: 100%;
}
#go-top a:hover { background-color: #e9da05; }
